* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:active {
  -webkit-tap-highlight-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  font-size: 0;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto-Regular", sans-serif;
  color: #505050;
  background: white;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.button-style {
  width: 100%;
  max-width: 312px;
  padding: 21px 20px;
  text-align: center;
  border-radius: 30px;
  background-color: #F59D14;
  color: white;
  font-family: "Roboto-Bold";
  font-size: 20px;
}

.bg-container {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.heading-style {
  font-size: 36px;
  line-height: 111.11111%;
  font-family: "Roboto-Bold";
}

.img-style {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  font-size: 0;
  vertical-align: top;
}

.header__wrapper {
  height: 95px;
  background-color: #014D80;
}

.course__wrapper {
  position: relative;
  background-color: #014D80;
  overflow: hidden;
}

.course__inner {
  position: relative;
  z-index: 1;
  padding-top: 108px;
  padding-bottom: 100px;
}

.course__content-box {
  display: flex;
  justify-content: flex-end;
}

.course__text-block {
  flex: 0 1 58%;
  color: white;
}

.course__title-box {
  font-size: 60px;
  line-height: 116.66667%;
}

.course__title-black {
  display: block;
  font-family: "Roboto-Black";
}

.course__about-block {
  margin-top: 72px;
  margin-bottom: 63px;
}

.course__about-item {
  display: flex;
  justify-content: flex-start;
}

.course__about-cell {
  flex: 1 0 27%;
}

.course__about-cell--right {
  flex: 1 1 39%;
  margin: 0 64px 0 0;
}

.course__about-item + .course__about-item {
  margin-top: 26px;
}

.course__about-head {
  font-size: 24px;
  line-height: 116.66667%;
  font-family: "Roboto-Bold";
}

.course__about-more {
  margin-top: 12px;
  font-size: 20px;
  line-height: 125%;
  font-family: "Roboto-Regular";
}

.course__button-box {
  display: flex;
  align-items: center;
}

.course__link-wrap,
.course__link {
  flex: 0 0 40%;
}

.course__link.button-style {
  max-width: 232px;
}

.course__tic {
  font-family: "Roboto-Medium";
  font-size: 14px;
  line-height: 128.57143%;
}

.course__bg-box {
  text-align: center;
  margin-left: 0;
}

.about__warpper {
  position: relative;
  padding-top: 103px;
  padding-bottom: 106px;
}

.about__bg-box {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 46%;
}

.about__inner {
  max-width: 660px;
  color: #505050;
}

.about__block + .about__block {
  margin-top: 52px;
}

.about__heading {
  margin-bottom: 20px;
}

.about__list-button,
.about__paragraf,
.about__drop-list {
  font-family: "Roboto-Regular";
  font-size: 20px;
  line-height: 140%;
  color: #505050;
}

.about__paragraf + .about__paragraf {
  margin-top: 30px;
}

.about__list-item + .about__list-item {
  margin-top: 17px;
}

.about__list-button {
  position: relative;
  padding: 0 0 0 33px;
  text-align: left;
  background-color: transparent;
}

.about__list-button:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  background-image: url("../images/arr.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease 0s;
}

.about__list-button.active {
  padding: 0 0 10px 33px;
}

.about__list-button.active:before {
  transform: translateY(-50%) rotate(-180deg);
}

.about__drop-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0fr;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease, height 0.3s;
  transition: grid-template-rows 300ms ease, height 0.3s, -ms-grid-rows 300ms ease;
  overflow: hidden;
}

.about__drop-box.active {
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.about__drop-list {
  min-height: 0;
  padding-left: 89px;
}

.about__drop-list-item {
  font-size: 20px;
  line-height: 140%;
}

.about__drop-list-item + .about__drop-list-item {
  margin-top: 10px;
}

.about__link-box {
  margin-top: 37px;
}

.learn__wrapper {
  padding-top: 108px;
  padding-bottom: 102px;
}

.learn__inner {
  position: relative;
}

.learn__body {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 44.5%;
  height: 100%;
  padding: 0 15px;
}

.learn__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding-top: 88px;
  padding-bottom: 79px;
}

.learn__block {
  flex: 1 0 auto;
}

.learn__list {
  margin: 38px 0;
}

.learn__link-box {
  flex: 0 0 auto;
  text-align: center;
}

.learn__bg-box {
  transform: translateX(-34%);
}

.list {
  font-family: "Roboto-Regular";
  font-size: 20px;
  line-height: 120%;
}

.list__item {
  position: relative;
  padding-left: 34px;
}

.list__item:before {
  position: absolute;
  content: "";
  top: 7px;
  left: 7px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #F2B33D;
}

.list__item + .list__item {
  margin-top: 24px;
}

.base__wrapper {
  position: relative;
  background-color: #014D80;
}

.base__container-fluid {
  max-width: 1485px;
  margin: 0 auto;
  padding: 0 15px;
}

.base__content {
  position: relative;
  z-index: 2;
  display: flex;
}

.base__about {
  padding: 74px 0 0 0;
}

.base__item {
  flex: 0 1 50%;
}

.base__item--image {
  position: relative;
}

.base__title,
.base__list,
.base__text {
  color: white;
}

.base__list,
.base__text,
.base__link {
  font-size: 20px;
  line-height: 130%;
}

.base__list {
  padding: 0 0 0 27px;
  margin-top: 52px;
}

.base__list-item + .base__list-item {
  margin-top: 4px;
}

.base__text {
  margin-top: 30px;
  margin-bottom: 61px;
  font-family: "Roboto-Medium";
}

.base__link-box {
  margin-top: 39px;
  text-align: left;
}

.base__button-link-box {
  margin-top: 42px;
  transform: translateX(21px);
}

.base__link {
  text-decoration: underline;
  font-family: "Roboto-Bold";
  color: #F2B33D;
}

.base__button-link {
  color: white;
}

.base__item-bg-box {
  transform: translate(2%, -4%);
}

.base__item-bg-image {
  min-width: 615px;
}

.base__questions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-42%, -63%);
}

.base__questions-head {
  text-transform: uppercase;
  text-align: center;
  color: #505050;
}

.base__bg-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.base__bg surce,
.base__bg img {
  height: 633px;
}

@media (max-width: 1919.98px) {
  .base__item-bg-image {
    max-width: 100%;
  }
}

@media (max-width: 1580px) {
  .learn__bg-box {
    transform: translateX(-60%);
  }
}

@media (max-width: 1450px) {
  .heading-style {
    font-size: calc(25px + (36 - 25) * ((100vw - 320px) / (1450 - 320)));
  }

  .header__wrapper {
    height: calc(50px + (95 - 50) * ((100vw - 320px) / (1450 - 320)));
  }

  .course__inner {
    padding-top: calc(50px + (108 - 50) * ((100vw - 320px) / (1450 - 320)));
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1450 - 320)));
  }

  .course__title-box {
    font-size: calc(40px + (60 - 40) * ((100vw - 320px) / (1450 - 320)));
  }

  .course__about-block {
    margin-top: calc(35px + (72 - 35) * ((100vw - 320px) / (1450 - 320)));
    margin-bottom: calc(35px + (63 - 35) * ((100vw - 320px) / (1450 - 320)));
  }

  .course__about-item + .course__about-item {
    margin-top: calc(20px + (26 - 20) * ((100vw - 320px) / (1450 - 320)));
  }

  .course__about-head {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1450 - 320)));
  }

  .course__about-more {
    margin-top: calc(5px + (12 - 5) * ((100vw - 320px) / (1450 - 320)));
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1450 - 320)));
  }

  .course__bg-box {
    margin-left: calc(335px + (0 - 335) * ((100vw - 320px) / (1450 - 320)));
  }

  .about__warpper {
    padding-top: calc(50px + (103 - 50) * ((100vw - 320px) / (1450 - 320)));
    padding-bottom: calc(50px + (106 - 50) * ((100vw - 320px) / (1450 - 320)));
  }

  .about__inner {
    max-width: calc(760px + (660 - 760) * ((100vw - 768px) / (1450 - 768)));
  }

  .about__block + .about__block {
    margin-top: calc(30px + (52 - 30) * ((100vw - 320px) / (1450 - 320)));
  }

  .about__heading {
    margin-bottom: calc(15px + (20 - 15) * ((100vw - 320px) / (1450 - 320)));
  }

  .about__list-button,
  .about__paragraf,
  .about__drop-list {
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1450 - 320)));
  }

  .about__paragraf + .about__paragraf {
    margin-top: calc(20px + (30 - 20) * ((100vw - 320px) / (1450 - 320)));
  }

  .about__drop-list {
    padding-left: calc(50px + (89 - 50) * ((100vw - 320px) / (1450 - 320)));
  }

  .about__drop-list-item + .about__drop-list-item {
    margin-top: calc(6px + (10 - 6) * ((100vw - 320px) / (1450 - 320)));
  }

  .about__drop-list-item {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1450 - 320)));
  }

  .about__link-box {
    margin-top: calc(20px + (37 - 20) * ((100vw - 320px) / (1450 - 320)));
  }

  .learn__content {
    padding-top: calc(0px + (88 - 0) * ((100vw - 320px) / (1450 - 320)));
    padding-bottom: calc(0px + (79 - 0) * ((100vw - 320px) / (1450 - 320)));
  }

  .list {
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1450 - 320)));
  }

  .list__item + .list__item {
    margin-top: calc(12px + (24 - 12) * ((100vw - 320px) / (1450 - 320)));
  }

  .base__list,
  .base__text,
  .base__link {
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1450 - 320)));
  }

  .base__list {
    margin-top: calc(30px + (52 - 30) * ((100vw - 320px) / (1450 - 320)));
  }

  .base__text {
    margin-top: calc(20px + (30 - 20) * ((100vw - 320px) / (1450 - 320)));
    margin-bottom: calc(30px + (61 - 30) * ((100vw - 320px) / (1450 - 320)));
  }

  .base__link-box {
    margin-top: calc(25px + (39 - 25) * ((100vw - 320px) / (1450 - 320)));
  }

  .base__button-link-box {
    margin-top: calc(30px + (42 - 30) * ((100vw - 320px) / (1450 - 320)));
  }

  .base__bg surce,
  .base__bg img {
    height: calc(575px + (633 - 575) * ((100vw - 991px) / (1450 - 991)));
  }
}

@media (max-width: 1366px) {
  .course__text-block {
    flex: 0 1 70%;
  }

  .learn__wrapper {
    padding: 0;
  }

  .learn__inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .learn__body {
    position: static;
    height: auto;
    width: 50%;
    margin: 0 0 0 auto;
  }

  .learn__content {
    padding: 0;
  }

  .learn__bg-box {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: -50%;
    width: 100%;
    transform: translate(0, -50%);
  }

  .learn__bg source,
  .learn__bg img {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  .base__item {
    flex: 0 0 45%;
  }

  .base__button-link-box {
    transform: translateX(-7px);
  }
}

@media (max-width: 1366px) and (max-width: 1450px) {
  .learn__inner {
    padding-top: calc(50px + (80 - 50) * ((100vw - 320px) / (1450 - 320)));
    padding-bottom: calc(50px + (80 - 50) * ((100vw - 320px) / (1450 - 320)));
  }
}

@media (max-width: 991px) {
  .course__text-block {
    flex: 0 1 83%;
  }

  .learn__body {
    width: 70%;
    margin: 0 auto 0 0;
  }

  .learn__link-box {
    text-align: left;
  }

  .learn__bg-box {
    left: auto;
    right: -50%;
    transform: translate(0, -50%) scale(-1, 1);
  }

  .base__wrapper {
    padding: 50px 0;
  }

  .base__content {
    display: block;
    max-width: 650px;
    margin: 0 auto;
  }

  .base__about {
    padding: 0;
  }

  .base__item + .base__item {
    margin: 50px 0 0 0;
  }

  .base__list {
    padding: 0;
    max-width: 450px;
    margin: 30px auto 0;
  }

  .base__list-item + .base__list-item {
    margin-top: 10px;
  }

  .base__title,
  .base__text,
  .base__link-box {
    text-align: center;
  }

  .base__button-link-box {
    text-align: center;
    transform: translate(0);
  }

  .base__item-bg-box {
    display: none;
  }

  .base__questions {
    position: static;
    transform: translate(0);
  }

  .base__questions-head {
    color: white;
  }

  .base__bg surce,
  .base__bg img {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .course__text-block {
    flex: 1 1 auto;
    max-width: 600px;
    margin: 0 auto;
  }

  .course__about-cell--right {
    margin: 0 0 0 20px;
  }

  .course__tic {
    margin: 0 0 0 35px;
  }
}

@media (max-width: 479px) {
  .course__about-item {
    display: block;
  }

  .course__about-cell {
    margin: 0;
  }

  .course__about-cell + .course__about-cell {
    margin: 20px 0 0 0;
  }

  .course__button-box {
    display: block;
  }

  .course__link-wrap {
    margin: 0 0 20px 0;
    text-align: center;
  }

  .course__tic {
    margin: 0;
  }

  .about__link-box {
    text-align: center;
  }

  .learn__body {
    width: 100%;
  }

  .learn__list {
    margin: 30px 0;
  }

  .learn__link-box {
    text-align: center;
  }

  .learn__bg-box {
    display: none;
  }

  .base__bg-box {
    transform: translateX(-45%);
  }
}