//start header
.header {
	// .header__wrapper
	&__wrapper {
		height: 95px;
		background-color: $color-bg;

		@media (max-width: $container-width) {
			height: calc(50px + (95 - 50) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
}
//end header
// start course
.course {
	// .course__wrapper
	&__wrapper {
		position: relative;
		background-color: $color-bg;
		overflow: hidden;
	}
	// .course__inner
	&__inner {
		position: relative;
		z-index: 1;
		padding-top: 108px;
		padding-bottom: 100px;

		@media (max-width: $container-width) {
			padding-top: calc(50px + (108 - 50) * ((100vw - 320px) / (#{$container-calc} - 320)));
			padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .course__content-box
	&__content-box {
		display: flex;
		justify-content: flex-end;
	}
	// .course__text-block
	&__text-block {
		flex: 0 1 58%;
		color: $white;

		@media (max-width: $media-1366) {
			flex: 0 1 70%;
		};

		@media (max-width: $media-991) {
			flex: 0 1 83%;
		};

		@media (max-width: $media-768) {
			flex: 1 1 auto;
			max-width: 600px;
			margin: 0 auto;
		};
	}
	// .course__title-box
	&__title-box {
		font-size: 60px;
		line-height: 70 / 60 * 100%;

		@media (max-width: $container-width) {
			font-size: calc(40px + (60 - 40) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .course__title-black
	&__title-black {
		display: block;
		font-family: $RobotoBlack;
	}
	// .course__about-block
	&__about-block {
		margin-top: 72px;
		margin-bottom: 63px;

		@media (max-width: $container-width) {
			margin-top: calc(35px + (72 - 35) * ((100vw - 320px) / (#{$container-calc} - 320)));
			margin-bottom: calc(35px + (63 - 35) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .course__about-item
	&__about-item {
		display: flex;
		justify-content: flex-start;

		@media (max-width: $media-480) {
			display: block;
		};
	}
	// .course__about-cell
	&__about-cell {
		flex: 1 0 27%;

		&--right {
			flex: 1 1 39%;
			margin: 0 64px 0 0;

			@media (max-width: $media-768) {
				margin: 0 0 0 20px;
			};
		}

		@media (max-width: $media-480) {
			margin: 0;

			+ .course__about-cell {
				margin: 20px 0 0 0;
			}
		};
	}

	&__about-item + &__about-item {
		margin-top: 26px;

		@media (max-width: $container-width) {
			margin-top: calc(20px + (26 - 20) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .course__about-head
	&__about-head {
		font-size: 24px;
		line-height: 28 / 24 * 100%;
		font-family: $RobotoBold;

		@media (max-width: $container-width) {
			font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .course__about-more
	&__about-more {
		margin-top: 12px;
		font-size: 20px;
		line-height: 25 / 20 * 100%;
		font-family: $RobotoRegular;

		@media (max-width: $container-width) {
			margin-top: calc(5px + (12 - 5) * ((100vw - 320px) / (#{$container-calc} - 320)));
			font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .course__button-box
	&__button-box {
		display: flex;
		align-items: center;

		@media (max-width: $media-480) {
			display: block;
		};
	}
	&__link-wrap, 
	&__link {
		flex: 0 0 40%;
	}
	// .course__link-wrap
	&__link-wrap {

		@media (max-width: $media-480) {
			margin: 0 0 20px 0;
			text-align: center;
		};
	}
	// .course__link
	&__link {

		&.button-style {
			max-width: 232px;
		}
	}
	// .course__tic
	&__tic {
		font-family: $RobotoMedium;
		font-size: 14px;
		line-height: 18 / 14 * 100%;

		@media (max-width: $media-768) {
			margin: 0 0 0 35px;
		};

		@media (max-width: $media-480) {
			margin: 0;
		};
	}
	// .course__bg-box
	&__bg-box {
		text-align: center;
		margin-left: 0;

		@media (max-width: $container-width) {
			margin-left: calc(335px + (0 - 335) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
}
// end course
// start about
.about {
	// .about__warpper
	&__warpper {
		position: relative;
		padding-top: 103px;
		padding-bottom: 106px;

		@media (max-width: $container-width) {
			padding-top: calc(50px + (103 - 50) * ((100vw - 320px) / (#{$container-calc} - 320)));
			padding-bottom: calc(50px + (106 - 50) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .about__bg-box
	&__bg-box {
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 46%;
	}
	// .about__inner
	&__inner {
		max-width: 660px;
		color: $color-gray;

		@media (max-width: $container-width) {
			max-width: calc(760px + (660 - 760) * ((100vw - 768px) / (#{$container-calc} - 768)));
		};
	}
	// .about__block
	&__block {

		+ .about__block {
			margin-top: 52px;

			@media (max-width: $container-width) {
				margin-top: calc(30px + (52 - 30) * ((100vw - 320px) / (#{$container-calc} - 320)));
			};
		}
	}
	// .about__heading
	&__heading {
		margin-bottom: 20px;

		@media (max-width: $container-width) {
			margin-bottom: calc(15px + (20 - 15) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}

	&__list-button, 
	&__paragraf, 
	&__drop-list {
		font-family: $RobotoRegular;
		font-size: 20px;
		line-height: 28 / 20 * 100%;
		color: $color-gray;

		@media (max-width: $container-width) {
			font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .about__list
	&__list {
		
	}
	// .about__paragraf
	&__paragraf {

		+ .about__paragraf {
			margin-top: 30px;

			@media (max-width: $container-width) {
				margin-top: calc(20px + (30 - 20) * ((100vw - 320px) / (#{$container-calc} - 320)));
			};
		}
	}
	// .about__list-item
	&__list-item {

		+ .about__list-item {
			margin-top: 17px;
		}
	}
	// .about__list-button
	&__list-button {
		position: relative;
		padding: 0 0 0 33px;
		text-align: left;
		background-color: transparent;

		&:before {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			width: 24px;
			height: 24px;
			transform: translateY(-50%);
			background-image: url('../images/arr.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			transition: all 0.3s ease 0s;
		}

		&.active {
			padding: 0 0 10px 33px;

			&:before {
				transform: translateY(-50%) rotate(-180deg);
			}
		}
	}
	// .about__drop-box
	&__drop-box {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows 300ms ease, height 0.3s;
		overflow: hidden;

		&.active {
			grid-template-rows: 1fr;
		}
	}
		// .about__drop-list
	&__drop-list {
		min-height: 0;
		padding-left: 89px;

		@media (max-width: $container-width) {
			padding-left: calc(50px + (89 - 50) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .about__drop-list-item
	&__drop-list-item {
		font-size: 20px;
		line-height: 28 / 20 * 100%;

		+ .about__drop-list-item {
			margin-top: 10px;

			@media (max-width: $container-width) {
				margin-top: calc(6px + (10 - 6) * ((100vw - 320px) / (#{$container-calc} - 320)));
			};
		}

		@media (max-width: $container-width) {
			font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .about__link-box
	&__link-box {
		margin-top: 37px;

		@media (max-width: $container-width) {
			margin-top: calc(20px + (37 - 20) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};

		@media (max-width: $media-480) {
			text-align: center;
		};
	}
}
// end about
// start learn
.learn {
	// .learn__wrapper
	&__wrapper {
		padding-top: 108px;
		padding-bottom: 102px;

		@media (max-width: $media-1366) {
			padding: 0;
		};
	}
	// .learn__inner
	&__inner {
		position: relative;

		@media (max-width: $media-1366) {

			padding-top: 80px;
			padding-bottom: 80px;

			@media (max-width: $container-width) {
				padding-top: calc(50px + (80 - 50) * ((100vw - 320px) / (#{$container-calc} - 320)));
				padding-bottom: calc(50px + (80 - 50) * ((100vw - 320px) / (#{$container-calc} - 320)));
			};
		};
	}
	// .learn__body
	&__body {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 44.5%;
		height: 100%;
		padding: 0 15px;

		@media (max-width: $media-1366) {
			position: static;
			height: auto;
			width: 50%;
			margin: 0 0 0 auto;
		};

		@media (max-width: $media-991) {
			width: 70%;
			margin: 0 auto 0 0;
		};

		@media (max-width: $media-480) {
			width: 100%;
		};
	}
	// .learn__content
	&__content {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 100%;
		padding-top: 88px;
		padding-bottom: 79px;

		@media (max-width: $container-width) {
			padding-top: calc(0px + (88 - 0) * ((100vw - 320px) / (#{$container-calc} - 320)));
			padding-bottom: calc(0px + (79 - 0) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};

		@media (max-width: $media-1366) {
			padding: 0;
		};
	}
	// .learn__block
	&__block {
		flex: 1 0 auto;
	}
	// .learn__heading
	&__heading {
	}
	// .learn__list
	&__list {
		margin: 38px 0;

		@media (max-width: $media-480) {
			margin: 30px 0;
		};
	}
	// .learn__list-item
	&__list-item {
	}
	// .learn__link-box
	&__link-box {
		flex: 0 0 auto;
		text-align: center;

		@media (max-width: $media-991) {
			text-align: left;
		};

		@media (max-width: $media-480) {
			text-align: center;
		};
	}
	// .learn__bg-box
	&__bg-box {
		transform: translateX(-34%);

		@media (max-width: 1580px) {
			transform: translateX(-60%);
		};

		@media (max-width: $media-1366) {
			position: absolute;
			z-index: -1;
			top: 50%;
			left: -50%;
			width: 100%;
			transform: translate(0, -50%);
		};

		@media (max-width: $media-991) {
			left: auto;
			right: -50%;
			transform: translate(0, -50%) scale(-1, 1);
		};

		@media (max-width: $media-480) {
			display: none;
		};
	}
	// .learn__bg
	&__bg {

		& source, img {

			@media (max-width: $media-1366) {
				max-width: 100%;
				object-fit: cover;
				object-position: center;
			};
		}
	}
}
// end learn
// start list
.list {
	font-family: $RobotoRegular;
	font-size: 20px;
	line-height: 24 / 20 * 100%;

	@media (max-width: $container-width) {
		font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (#{$container-calc} - 320)));
	};
	// .list__item
	&__item {
		position: relative;
		padding-left: 34px;

		&:before {
			position: absolute;
			content: "";
			top: 7px;
			left: 7px;
			height: 8px;
			width: 8px;
			border-radius: 50%;
			background-color: $color-text-orange;
		}

		+ .list__item  {
			margin-top: 24px;

			@media (max-width: $container-width) {
				margin-top: calc(12px + (24 - 12) * ((100vw - 320px) / (#{$container-calc} - 320)));
			};
		}
	}
}
// end list
// start base
.base {
	// .base__wrapper
	&__wrapper {
		position: relative;
		background-color: $color-bg;

		@media (max-width: $media-991) {
			padding: 50px 0;
		};
	}
	// .base__inner
	&__inner {
		
	}
	// .base__container-fluid
	&__container-fluid {
		max-width: 1485px;
		margin: 0 auto;
		padding: 0 15px;
	}
	// .base__content
	&__content {
		position: relative;
		z-index: 2;
		display: flex;

		@media (max-width: $media-991) {
			display: block;
			max-width: 650px;
			margin: 0 auto;
		};
	}
	// .base__about
	&__about {
		padding: 74px 0 0 0;

		@media (max-width: $media-991) {
			padding: 0;
		};
	}
	// .base__item
	&__item {
		flex: 0 1 50%;
		// .base__item--image
		&--image {
			position: relative;

			@media (max-width: $media-1366) {
				
			};
		}

		@media (max-width: $media-1366) {
			flex: 0 0 45%;
		};

		@media (max-width: $media-991) {

			+ .base__item {
				margin: 50px 0 0 0;
			}
		};
	}
	&__title, 
	&__list, 
	&__text {
		color: $white;
	}

	&__list, 
	&__text, 
	&__link {
		font-size: 20px;
		line-height: 26 / 20 * 100%;

		@media (max-width: $container-width) {
			font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .base__title
	&__title {
	}
	// .base__list
	&__list {
		padding: 0 0 0 27px;
		margin-top: 52px;

		@media (max-width: $container-width) {
			margin-top: calc(30px + (52 - 30) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};

		@media (max-width: $media-991) {
			padding: 0;
			max-width: 450px;
			margin: 30px auto 0;
		};
	}
	// .base__list-item
	&__list-item {

		+ .base__list-item {
			margin-top: 4px;

			@media (max-width: $media-991) {
				margin-top: 10px;
			};
		}
	}
	// .base__text
	&__text {
		margin-top: 30px;
		margin-bottom: 61px;
		font-family: $RobotoMedium;
		@media (max-width: $container-width) {
			margin-top: calc(20px + (30 - 20) * ((100vw - 320px) / (#{$container-calc} - 320)));
			margin-bottom: calc(30px + (61 - 30) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .base__link-box
	&__link-box {
		margin-top: 39px;
		text-align: left;

		@media (max-width: $container-width) {
			margin-top: calc(25px + (39 - 25) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}

	&__title,
	&__text, 
	&__link-box {

		@media (max-width: $media-991) {
			text-align: center;
		};
	}
	// .base__button-link-box
	&__button-link-box {
		margin-top: 42px;
		transform: translateX(21px);

		@media (max-width: $container-width) {
			margin-top: calc(30px + (42 - 30) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};

		@media (max-width: $media-1366) {
			transform: translateX(-7px);
		};

		@media (max-width: $media-991) {
			text-align: center;
			transform: translate(0);
		};
	}
	// .base__link
	&__link {
		text-decoration: underline;
		font-family: $RobotoBold;
		color: $color-text-orange;
	}
	// .base__button-link
	&__button-link {
		color: $white;
	}
	// .base__item-bg-box
	&__item-bg-box {
		transform: translate(2%, -4%);

		@media (max-width: $media-991) {
			display: none;
		};
	}
	// .base__item-bg-image
	&__item-bg-image {
		min-width: 615px;

		@media (max-width: $media-1920) {
			max-width: 100%;
		};
	}
	// .base__questions
	&__questions {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-42%, -63%);

		@media (max-width: $media-991) {
			position: static;
			transform: translate(0);
		};
	}
	// .base__questions-head
	&__questions-head {
		text-transform: uppercase;
		text-align: center;
		color: $color-gray;

		@media (max-width: $media-991) {
			color: $white;
		};
	}
	// .base__bg-box
	&__bg-box {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);

		@media (max-width: $media-480) {
			transform: translateX(-45%);
		};
	}
	// .base__bg
	&__bg {

		& surce, img {
			height: 633px;

			@media (max-width: $container-width) {
				height: calc(575px + (633 - 575) * ((100vw - 991px) / (#{$container-calc} - 991)));
			};

			@media (max-width: $media-991) {
				height: 100%;
			};
		}
	}
}
// end base

