.button-style {
	width: 100%;
	max-width: 312px;
	padding: 21px 20px;
	text-align: center;
	border-radius: 30px;
	background-color: $color-orange;
	color: $white;
	font-family: $RobotoBold;
	font-size: 20px;
	transition: all 0.3s ease 0s;
	transform: translateY(0);

	@media (any-hover: hover){
		&:hover {
			transform: translateY(-3px);
		}
	};
}

.bg-container {
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
}

.heading-style {
	font-size: 36px;
	line-height: 40 / 36 * 100%;
	font-family: $RobotoBold;

	@media (max-width: $container-width) {
		font-size: calc(25px + (36 - 25) * ((100vw - 320px) / (#{$container-calc} - 320)));
	};
}

.img-style {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
	font-size: 0;
	vertical-align: top;
}