.burger {
	display: none;
	margin-left: 20px;
	// .burger__icon
	&__icon {
		width: 30px;
		height: 20px;
		position: relative;
		background-color: transparent;
		transition-duration: 0.7s;
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		&:before, 
		&:after, 
		.burger__middle {
			position: absolute;
			content: "";
			left: 0;
			height: 4px;
			width: 30px;
			border-radius: 30px;
			background-color: white;
			display: inline-block;
			transition-duration: 0.3s;
		}
		&.active {
			z-index: 7;
			transition-duration: 0.7s;
			&:before {
				transform: translateY(0) rotate(-45deg);
			}
			&:after {
				transform: translateY(0) rotate(45deg);
			}
			&:before, &:after {
				background-color: white;
				transition-duration: 0.3s;
				top: 50%;
			}
			.burger__middle {
				transform: scale(0.1, 0.2);
				transition-duration: 0.7s;
			}
		}
	}
	// .burger__middle
	&__middle {
		top: 50%;
		transform: translateY(-50%);
		transition-duration: 0.7s;
	}
	@media (max-width: 991.98px) {
		display: flex;
		align-items: center;
	}
}

.mobile-menu {
	// .mobile-menu__container
	&__container {
		display: none;

		@media (max-width: 991.98px) {
			display: block;
			position: fixed;
			z-index: 100;
			top: -240%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(40, 40, 52, 0.6);
			backdrop-filter: blur(5px);
			padding: 30px;
			transition: all 0.3s ease 0s;

			&.active {
				top: 0;
				overflow: auto;
			}

			@media (max-width: $container-width) {
				padding: calc(15px + (30 - 15) * ((100vw - 320px) / (#{$container-calc} - 320)));
			};
		};
	}
	// .mobile-menu__list
	&__list {
		padding: 100px 30px 50px;

		@media (max-width: 767.98px) {
			padding: 120px 0 50px;
		};
	}
	// .mobile-menu__item
	&__item {
		width: 100%;
		overflow: hidden;
	}

	&__item + &__item {
		margin-top: 30px;

		@media (max-width: $container-width) {
			margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .mobile-menu__link
	&__link {
		position: relative;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
		font-family: $NotoSansSemiBold;
		font-size: 32px;
		line-height: 36 / 32 * 100%;
		color: $color-white;

		&.active {

			&:before {
				position: absolute;
				content: "";
				z-index: -1;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $color-neon-purple;
				background: linear-gradient(to top, rgba(181, 55, 242, 1) 0%,rgba(181, 55, 242, 0) 100%);
			}
		}

		@media (max-width: 1170px) {
			padding-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1170 - 320)));
			font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1170 - 320)));
		};
	}
}

.base-square-btn {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	transition-duration: 0.3s;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;

	@media (max-width: $container-width) {
		width: calc(35px + (50 - 35) * ((100vw - 320px) / (#{$container-calc} - 320)));
		height: calc(35px + (50 - 35) * ((100vw - 320px) / (#{$container-calc} - 320)));
		border-radius: calc(5px + (10 - 5) * ((100vw - 320px) / (#{$container-calc} - 320)));
	};
}

.to-top-btn {
	position: fixed;
	z-index: 9998;
	bottom: -100%;
	right: 50%;
	background-image: url('../images/icons/top.svg');
	background-color: rgba(38, 43, 43, 0.6);
	border: 3px solid $color-neon-purple;
	transform: translateX(700px);
	transition-duration: 0.6s;

	&.active {
		bottom: 5%;
	}

	@media (any-hover: hover){
		&:hover {
			bottom: 6%;
		}
	};

	@media (max-width: $media-1440) {
		right: 3%;
		transform: translateX(0);
	};
}

.button-next, 
.button-prev {
	background-color: rgba(38, 43, 43, 0.6);
	border: 3px solid $color-neon-wave;
	transform: translateY(0);
	transition-duration: 0.3s;

	@media (any-hover: hover){
		&:hover {
			transform: translateY(-3px);
		}
	};

	@media (max-width: $media-480) {
		border: 2px solid $color-neon-wave;
	};
}

.button-next {
	background-image: url('../images/icons/arr-sw-right.svg');
}

.button-prev {
	background-image: url('../images/icons/arr-sw-left.svg');
}

.background-style {
		position: relative;
		padding-top: 150px;
		padding-bottom: 150px;
		background: linear-gradient(135deg, #3cb9fc 0%,#262b2b 35%,#262b2b 75%,#b537f2 100%);

		&:after, 
		&:before {
			position: absolute;
			content: "";
			z-index: 0;
			left: 0;
			width: 100%;
		}

		&:after {
			bottom: 0;
			height: 10%;
			background: linear-gradient(to top, rgba(227, 111, 72, 1) 0%,rgba(227, 111, 72, 0) 100%);
		}

		&:before {
			top: 0;
			height: 10%;
			background: linear-gradient(to bottom, rgba(181, 55, 242, 1) 0%,rgba(181, 55, 242, 0) 100%);
		}

		@media (max-width: $container-width) {
			padding-top: calc(100px + (150 - 100) * ((100vw - 320px) / (#{$container-calc} - 320)));
			padding-bottom: calc(50px + (150 - 50) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
}

//start swirep prop
.swiper {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  transition-property: transform;
}

.swiper-autoheight {
	&,
	.swiper-slide {
		height: auto;
	}

	.swiper-wrapper {
		align-items: flex-start;
		transition-property: transform, height;
	}
}
//end swirep prop
.img-style {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
	font-size: 0;
	vertical-align: top;

	& source, img {
		max-width: 100%;
		object-fit: cover;
		object-position: center;
		font-size: 0;
		vertical-align: top;
	}
}

.button-card {
	padding: 20px;
	color: $color-space;
	font-size: 22px;
	line-height: 26 / 22 * 100%;
	background-color: $color-ronchi;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-family: $OswaldBold;
	font-size: 55px;
	line-height:  70 / 55 * 100%;

	@media (max-width: $container-width) {
		font-size: calc(28px + (55 - 28) * ((100vw - 320px) / (#{$container-calc} - 320)));
	};
}

.subtitle {
	text-align: center;
	font-family: $OswaldLight;
	font-size: 40px;
	line-height: 45 / 40 * 100%;

	@media (max-width: $container-width) {
		font-size: calc(22px + (40 - 22) * ((100vw - 320px) / (#{$container-calc} - 320)));
	};
}

.glass {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-right: 1px solid rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.price-style {
		text-align: right;
		padding: 5px 20px;
		border-radius: 20px;
		background-color: $color-space;
		white-space: nowrap;

		@media (max-width: $media-480) {
			padding: 3px 12px;
		};
}

.gradient-text {
		background-image: linear-gradient(to left, $color-neon-wave, $color-neon-purple);
		color: transparent;
		background-clip: text;
}

.block-btn, 
.pattern-btn, 
.rollup-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 25px;
	font-family: $OswaldRegular;
	font-size: 26px;
	line-height: 28 / 26 * 100%;
	color: $color-white;
	border-radius: 10px;
	box-shadow: 0 0 15px $color-nevada;
	transition-duration: 0.3s;

	@media (any-hover: hover){
		&:hover {
			filter: hue-rotate(-50deg);
			box-shadow: 0 0 25px $color-nevada;
		}
	};

	@media (max-width: $container-width) {
		font-size: calc(22px + (26 - 22) * ((100vw - 320px) / (#{$container-calc} - 320)));
	};
}

.block-btn {
	max-width: 100%;
	background: linear-gradient(to left, $color-neon-wave, $color-neon-purple);
}

.pattern-btn {
	background: linear-gradient(to left, $color-neon-blue, $color-neon-red);
}

.pattern-btn-icon {
	position: relative;
	padding: 0 0 0 35px;

	&:before {
		position: absolute;
		content: "";
		top: 50%;
		left: 0;
		width: 25px;
		height: 30px;
		background-image: url('../images/icons/pdf-icon.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transform: translateY(-50%);
	}
}

.rollup-btn {
	background: linear-gradient(to left, $color-neon-blue, $color-neon-purple);
}

.img-frame {
	max-width: 200px;
	overflow: hidden;
	border-radius: 10px;
	border: 5px solid $color-text;

	@media (min-width: $media-991) {
		max-width: 400px;
	};

	@media (min-width: $media-768) {
		max-width: 300px;
		};
}

//start form base style
.form {
	position: relative;

	&.sending {

		&:before {
			position:absolute;
			content: "";
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			background-color: red;
			opacity: 0.5;
			z-index: 10;
		}
	}
}

.form-label {
	display: block;
	position: relative;
	flex: 1 1 100%;
	text-align: center;
	border-radius: 5px;

	&.error {
		box-shadow: 0px 0px 15px rgba(252, 45, 45, 1);
	}

	&.complete {
		box-shadow: 0px 0px 15px rgba(35, 250, 42, 1);
	}
}

.form-input, 
.form-extarea {
	padding: 0 15px;
	width: 100%;
	border-radius: 5px;
	font-family: $NotoSansRegular;
	font-size: 18px;
	line-height: 22 / 18 * 100%;

	&::placeholder {
		color: #b9b9b9;
		font-family: $NotoSansRegular;
		font-size: 18px;
		line-height: 22 / 18 * 100%;
		text-align: left;

		@media (max-width: $media-480) {
			font-size: 11px;
		};
	}

	&:focus {
		box-shadow: 0px 0px 10px rgba(60, 185, 252, 1);
	}
}

.form-input {
	height: 45px;

	&::placeholder  {
		line-height: 45px;
	}

	@media (max-width: $media-480) {
		height: 40px;
		font-size: 14px;
	};
}

.form-extarea {
	min-height: 167px;
	padding: 15px;
	resize: vertical;
	overflow: hidden;

	&::placeholder {
		line-height: 21px;
	}

	@media (max-width: $media-480) {
		font-size: 16px;
		line-height: 20 / 16 * 100%;
	};
}

.form-massage {
	position: absolute;
	top: -25px;
	right: 10px;
	color: red;
	font-size: 12px;
}

.cheсk-label {
	display: flex;
	align-items: center;
}

.cheсk-input {
	display: none;
}

.cheсk-input:checked {
	+ .cheсk-fake:before {
			opacity: 1;
		}
	}

.cheсk-fake {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	flex: 0 0 30px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	border: 1px solid $color-space;
	background-color: white;

	&:before {
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20px;
		height: 16px;
		opacity: 0;
		transition: all 0.3s ease 0s;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 3.94444L7.05556 9L14.0556 2' stroke='%23262b2b' stroke-width='3'/%3E%3C/svg%3E%0A");
	}

	&.error {
		box-shadow: 0px 0px 15px rgba(252, 45, 45, 1);
	}
}

.form-button {

	&:focus {
		box-shadow: 0px 0px 25px rgba(43, 61, 63, 0.9);
	}
}
//end form base style
//start complite-mess
.complite-mess {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -10;
	transition: all 0.3s ease 0s;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	&.active {
		opacity: 1;
		z-index: 9999;
	}
	// .complite-mess__body
	&__body {
		position: relative;
		width: 100%;
		max-width: 485px;
		padding: 50px;
		background-color: $color-white;
		text-align: center;
		&:before {
			position: absolute;
			content: "Х";
			top: 20px;
			right: 20px;
			font-size: 25px;
			font-weight: 700;
			color: #000;
			cursor: pointer;
		}
	}
	// .complite-mess__text
	&__text {
		position: relative;
		max-width: 250px;
		margin: 0 auto;
		font-weight: 400;
		font-size: 18px;
		line-height: 23 / 18 * 100%;
		color: $color-space;
	}
}
//end complite-mess