//start base popup style
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.4s ease 0s;
	z-index: 9999;

	&.open {
		opacity: 1;
		visibility: visible;

		.popup-content {
			width: 100%;
			transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
			opacity: 1;
		}
	}

	// .popup__bg-color
	&__bg-color {
		background: linear-gradient(135deg, rgba(60, 185, 252, 0.85) 0%, rgba(19, 202, 145, 0.85) 38%,rgba(222, 71, 172, 0.85) 100%);
	}
	// .popup__bg-dark
	&__bg-dark {
		background: rgba(0, 0, 0, 0.85);
	}

	&__head, 
	&__subhead, 
	&__about {
		color: $color-space;
	}

	&__head--white, 
	&__subhead--white, 
	&__about--white {
		color: $color-text;
	}
	// .popup__head
	&__head {
		margin-bottom: 25px;
		font-family: $OswaldBold;
		font-size: 32px;
		line-height: 38 / 32 * 100%;

		@media (max-width: $container-width) {
			margin-bottom: calc(10px + (25 - 10) * ((100vw - 320px) / (#{$container-calc} - 320)));
			font-size: calc(27px + (32 - 27) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}

	&__subhead {
		margin-bottom: 8px;
		font-family: $OswaldSemiBold;
		font-size: 26px;
		line-height: 30 / 26 * 100%;

		@media (max-width: $container-width) {
			margin-bottom: calc(4px + (8 - 4) * ((100vw - 320px) / (#{$container-calc} - 320)));
			font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}

	&__about {
		margin-bottom: 40px;
		font-size: 18px;
		line-height: 26 / 18 * 100%;

		@media (max-width: $container-width) {
			margin-bottom: calc(25px + (40 - 25) * ((100vw - 320px) / (#{$container-calc} - 320)));
			font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .popup__variant
	&__variant {

		@media (min-width: $media-768) {
			display: flex;
			justify-content: center;
		};
	}

	&__picture-block, 
	&__options {
		flex: 1 0 50%;
	}
	// .popup__options-box
	&__options-box {
		margin: 50px 0 0 0;

		@media (min-width: $media-768) {
			flex: 1 1 50%;
			margin: 0 0 0 20px;
		};
	}
	// .popup__picture-title
	&__picture-title {
		margin: 0 0 10px 0;

		@media (min-width: $media-768) {
			margin: 0 0 25px 0;
		};
	}
	// .popup__metrics-picture
	&__metrics-picture {
		text-align: center;
	}

	&__metrics-picture + &__metrics-picture {
		margin: 20px 0 0 0;
	}
	// .popup__options-title
	&__options-title {
		margin: 20px 0 10px;

		@media (min-width: $media-768) {
			margin: 0 0 25px 0;
		};
	}
	// .popup__curve-box
	&__curve-box {
		flex: 1 1 50%;

		&--flex {
			flex: 1 1 auto;

			@media (min-width: $media-768) {
				display: flex;
				align-items: center;
				justify-content: center;
			};
		}
	}
	// .popup__picture-wrap
	&__picture-wrap {

	}

	&__picture-wrap + &__picture-wrap {
		margin: 40px 0 0 0;

		@media (max-width: $media-480) {
			margin: 25px 0 0 0;
		};
	}

	&__picture-wrap--single + &__picture-wrap--single {
		margin: 0 0 0 30px;

		@media (max-width: $media-768) {
			margin: 25px 0 0 0;
		};
	}
	// .popup__picture-curve
	&__picture-curve {
		width: 100%;

		& img {
			width: 100%;
			max-width: 100%;
		}

		@media (max-width: $media-768) {
			max-width: 400px;
			margin: 0 auto;
		};
	}

	&__options-title, 
	&__picture-title {
		text-align: center;
		font-family: $OswaldRegular;
		font-size: 32px;
		line-height: 36 / 32 * 100%;
		color: $color-space;

		@media (max-width: $container-width) {
			font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// popup__option-group
	&__option-group {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 18px 0 10px 0;
		border-bottom: 1px solid $color-space;

		&:before {
			display: none;
		}

		@media (max-width: $media-480) {
			padding: 10px 0 7px 0;
		};
	}
	&__option-name, 
	&__option-discriptions {
		color: $color-space;
	}
	// .popup__option-name
	&__option-name {
		font-family: $OswaldRegular;
		font-size: 26px;
		line-height: 32 / 26 * 100%;

		@media (max-width: $container-width) {
			font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .popup__option-price
	&__option-price {
		width: 100%;
		max-width: 120px;

		@media (max-width: $media-480) {
			max-width: 110px;
		};
	}
	// .popup__option-discriptions
	&__option-discriptions {
		margin: 0 20px 0 0;
		font-size: 18px;
		line-height: 22 / 18 * 100%;

		@media (max-width: $container-width) {
			font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .popup__option-btn
	&__option-btn {
		margin-top: 40px;

		@media (max-width: $container-width) {
			margin-top: calc(25px + (40 - 25) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
}

.popup-body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
	transition: all 0.4s ease 0s;
}

.popup-content {
	position: relative;
	width: 100%;
	max-width: 950px;
	padding: 30px;
	opacity: 0;
	transition: all 0.4s ease 0s;
	transform: translate(0px, -20%);

	@media (max-width: $media-480) {
		padding: 70px 15px 30px;
	};
}

.popup-close {
	position: absolute;
	z-index: 50;
	right: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cpath fill='white' fill-rule='nonzero' d='M22.07 20.01l16.49 -16.5c0.59,-0.59 0.59,-1.47 0,-2.06 -0.59,-0.59 -1.48,-0.59 -2.07,0l-16.49 16.49 -16.49 -16.49c-0.55,-0.55 -1.47,-0.55 -2.06,0 -0.59,0.59 -0.59,1.47 0,2.06l16.49 16.5 -16.49 16.5c-0.59,0.59 -0.59,1.48 0,2.07 0.29,0.3 0.67,0.42 1.01,0.42 0.34,0 0.76,-0.12 1.01,-0.42l16.53 -16.5 16.49 16.5c0.3,0.3 0.68,0.42 1.02,0.42 0.33,0 0.75,-0.12 1.01,-0.42 0.59,-0.59 0.59,-1.48 0,-2.07l-16.45 -16.5z'/%3E%3C/svg%3E");
	transition-duration: 0.3s;
	transform: scale(1);

	@media (any-hover: hover){
		&:hover {
			transition-duration: 0.3s;
			transform: scale(1.1);
		}
	};

	@media (max-width: $container-width) {
		width: calc(25px + (40 - 25) * ((100vw - 320px) / (#{$container-calc} - 320)));
		height: calc(25px + (40 - 25) * ((100vw - 320px) / (#{$container-calc} - 320)));
	};
}
//end base popup style