// values
$container-width:                           1230px;
$container-calc:                            1230;

//media
$media-1440:                                '1439.98px';
$media-991:                                 '991.98px';
$media-768:                                 '767.98px';
$media-480:                                 '479.98px';

// fonts
$OswaldExtraLight:                          'Oswald-ExtraLight';
$OswaldLight:                               'Oswald-Light';
$OswaldMedium:                              'Oswald-Medium';
$OswaldRegular:                             'Oswald-Regular';
$OswaldSemiBold:                            'Oswald-SemiBold';
$OswaldBold:                                'Oswald-Bold';
$NotoSansItalic:                            'NotoSans-Italic';
$NotoSansThin:                              'NotoSans-Thin';
$NotoSansExtraLight:                        'NotoSans-ExtraLight';
$NotoSansLight:                             'NotoSans-Light';
$NotoSansRegular:                           'NotoSans-Regular';
$NotoSansMedium:                            'NotoSans-Medium';
$NotoSansSemiBold:                          'NotoSans-SemiBold';
$NotoSansExtraBold:                         'NotoSans-ExtraBold';
$NotoSansBlack:                             'NotoSans-Black';

//ui-colors
$color-bg:                                   #f5f5f5;
$color-text:                                 #E7E4E3;
$color-space:                                #262b2b;
$color-nevada:                               #5f787b;
$color-burnt:                                #E36F48;
$color-ronchi:                               #eab354;
$color-salad:                                #569864;
$color-woodsmoke:                            #0d1011;
$color-neon-blue:                            #011ffd;
$color-neon-purple:                          #b537f2;
$color-neon-red:                             #f21a1d;
$color-neon-green:                           #13ca91;
$color-neon-wave:                            #3cb9fc;
$color-neon-yellow:                          #ffd300;
$color-white:                                #ffffff;




