// values
$container-width:                             1420px;
$container-calc:                                1420;

//media
$media-1366:                                 '1365px';
$media-991:                                  '991px';
$media-768:                                  '768px';
$media-480:                                  '479px';

// fonts
$RobotoMedium:                       'Roboto-Medium';
$RobotoRegular:                     'Roboto-Regular';
$RobotoBold:                           'Roboto-Bold';
$RobotoBlack:                          'Roboto-Black';


//ui-colors
$color-bg:                                   #014D80;
$white:                                        white;
$color-gray:                                 #505050;
$color-orange:                               #F59D14;
$color-text-orange:                          #F2B33D;
$color-blue:                                 #005886;




