//start form base style
.form {
	position: relative;
	&.sending {
		&:before {
			position:absolute;
			content: "";
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			background-color: red;
			opacity: 0.5;
			z-index: 10;
		}
	}
}

.form-shell {
	margin: 15px 0;
}

.form-label {
	display: block;
	position: relative;
	flex: 1 1 100%;
	text-align: center;
	&.error {
		box-shadow: 0px 0px 15px rgba(252, 45, 45, 1);
	}
	&.complete {
		box-shadow: 0px 0px 15px rgba(35, 250, 42, 1);
	}
}

.form-input, 
.form-extarea {
	padding: 0 15px;
	height: 60px;
	width: 100%;
	&::placeholder {
		color: #b9b9b9;
		font-family: "Montserrat";
		font-size: 18px;
		font-weight: 300;
		text-align: left;
	}
	&:focus {
		box-shadow: 0px 0px 10px rgba(43, 61, 63, 0.5);
	}

}

.form-wrapper {
	max-width: 350px;
	margin: 0 auto;
}

.form-input {
	&::placeholder  {
		line-height: 40px;
	}
}

.form-extarea {
	min-height: 167px;
	padding: 10px;
	resize: vertical;
	overflow: hidden;
	&::placeholder {
		line-height: 21px;
	}
}

.form-massage {
	position: absolute;
	top: -25px;
	right: 10px;
	color: red;
	font-size: 12px;
}

.cheсk-label {
	display: flex;
	align-items: center;
}

.cheсk-input {
	display: none;
}

.cheсk-input:checked {
	+ .cheсk-fake:before {
			opacity: 1;
		}
	}

.cheсk-fake {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	border: 1px solid green;
	background-color: white;
	cursor: pointer;
	&:before {
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 16px;
		height: 12px;
		opacity: 0;
		transition: all 0.3s ease 0s;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 3.94444L7.05556 9L14.0556 2' stroke='%2350C4A8' stroke-width='3'/%3E%3C/svg%3E%0A");
	}
	&.error {
		box-shadow: 0px 0px 15px rgba(252, 45, 45, 1);
	}
}

.form-button {
	&:focus {
		box-shadow: 0px 0px 25px rgba(43, 61, 63, 0.9);
	}
}
//end form base style
//start complite-mess
.complite-mess {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -10;
	transition: all 0.3s ease 0s;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	&.active {
		opacity: 1;
		z-index: 9999;
	}
	// .complite-mess__body
	&__body {
		position: relative;
		width: 100%;
		max-width: 485px;
		padding: 50px;
		background-color: #fff;
		text-align: center;
		&:before {
			position: absolute;
			content: "Х";
			top: 20px;
			right: 20px;
			font-size: 25px;
			font-weight: 700;
			color: #000;
			cursor: pointer;
		}
	}
	// .complite-mess__text
	&__text {
		position: relative;
		max-width: 250px;
		margin: 0 auto;
		font-weight: 400;
		font-size: 18px;
		line-height: 23 / 18 * 100%;
	}
}
//end complite-mess